body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.AppCont{
  height: 100vh;
}


.TopRow{
  text-align: center;
  background-color: green;
}

.LogoRow{
  display:flex;
  justify-content: center;
  width: 100vw;
  background-color: red;

}

.LogoLeft{
  display:flex;
  justify-content: center;
  background-color: yellow;
  width: 70vw;
  font-size: 20px;
}

.LogoCenter{
  /* justify-content: center; */
  margin-left: 100px;
  text-align: center;
}

.LogoRight{
  /* display: flex; */
  justify-content: flex-end;
  background-color: blue;
  /* margin-left: 100px; */
  right: -300px;
  
}

.AboutDiv{
  font-size: 20px;
}

/* .MainImg{
  
} */

.TextDescription{
  text-align: center
}

.GalleryTitle{
  text-align: center;
}

.GalleryTopRow{
  margin: 50px 0px 50px 0px;
}

.GalleryTopImgs{
  display:flex;
  justify-content: space-around;
}

.GTImages{
  background-color: orange;
  border:solid;
  width: 20vw;
}

.GalleryTopImage1{
  background-color: aqua;
  background-image: url(/gummyWorms.jpg);
  height: 300px;
  width: 300px;
  background-size: cover;
}
.GalleryTopImage2{
  background-color: aqua;
  background-image: url(/chocoHazel.jpg);
  height: 300px;
  width: 300px;
  background-size: cover;
}
.GalleryTopImage3{
  background-color: aqua;
  background-image: url(/petitFourWorking.jpg);
  height: 300px;
  width: 300px;
  background-size: cover;
}
.GalleryTopImage4{
  background-color: aqua;
  background-image: url(/chocoCherries.jpg);
  height: 300px;
  width: 300px;
  background-size: cover;
}


.GalleryTopTexts{
  display:flex;
  justify-content: space-around;
}

.GTTexts{
  /* background-color: blue; */
  /* border:solid; */
  width: 20vw;
  justify-content: space-around;
  text-align: center;
}






.GalleryBotImgs{
  display:flex;
  justify-content: space-around;
}
.GalleryBotTexts{
  display:flex;
  justify-content: space-around;
}